version: '3.8'

services:
  app:
    build:
      context: .
      args:
        VITE_API_KEY: ${VITE_API_KEY}
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    platform: linux/amd64
    container_name: waaku
    env_file:
      - .env
    ports:
      - "4300:4300"   # Expose internal port
    environment:
      NODE_ENV: production
      PORT: 4300
      ON_HOST: ${ON_HOST:-true}

      # Redis
      REDIS_HOST: ${REDIS_HOST:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379}

      # App runtime
      WAAKU_RUNTIME: ${WAAKU_RUNTIME}
      WAAKU_AUTH_STRATEGY: ${WAAKU_AUTH_STRATEGY:-remote}

      # API + Frontend config
      FRONTEND_PORT: ${FRONTEND_PORT}
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
      VITE_API_KEY: ${VITE_API_KEY}
      VITE_API_DEV_PORT: ${VITE_API_DEV_PORT}
      VITE_SOCKET_PORT: ${VITE_SOCKET_PORT}

      # API KEY (SHA-512)
      WAAKU_API_KEY: ${WAAKU_API_KEY}

      # Puppeteer
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
      PUPPETEER_EXECUTABLE_PATH: /usr/bin/chromium-browser

    volumes:
      - whatsapp_sessions:/usr/src/app/.wwebjs_auth
      - whatsapp_cache:/usr/src/app/.wwebjs_cache
      - ./logs:/usr/src/app/logs

    restart: unless-stopped
    shm_size: '1gb'

    networks:
      - waaku-network

    depends_on:
      - redis




  redis:
    image: redis:7-alpine
    container_name: waaku-redis
    restart: unless-stopped
    command: ["redis-server", "--save", "20", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
    networks:
      - waaku-network


volumes:
  whatsapp_sessions:
    driver: local
  whatsapp_cache:
    driver: local
  redis_data:
    driver: local

networks:
  waaku-network:
    driver: bridge
