version: '3.8'

services:
  app:
    build:
      context: .
      args:
        VITE_API_KEY: ${VITE_API_KEY}
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    container_name: waaku
    env_file:
      - .env
    ports:
      - "4300:4300"

    environment:
      NODE_ENV: production
      PORT: 4300
      ON_HOST: true

      # Redis (EXTERNAL)
      REDIS_HOST: waaku-redis
      REDIS_PORT: 6379
      REDIS_URL: redis://waaku-redis:6379

      # App configs
      WAAKU_RUNTIME: ${WAAKU_RUNTIME}
      WAAKU_AUTH_STRATEGY: remote
      FRONTEND_PORT: ${FRONTEND_PORT}
      VITE_API_BASE_URL: ${VITE_API_BASE_URL}
      VITE_API_KEY: ${VITE_API_KEY}
      VITE_API_DEV_PORT: ${VITE_API_DEV_PORT}
      VITE_SOCKET_PORT: ${VITE_SOCKET_PORT}
      WAAKU_API_KEY: ${WAAKU_API_KEY}
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
      PUPPETEER_EXECUTABLE_PATH: /usr/bin/chromium-browser

    volumes:
      - whatsapp_sessions:/usr/src/app/.wwebjs_auth
      - whatsapp_cache:/usr/src/app/.wwebjs_cache
      - ./logs:/usr/src/app/logs

    restart: unless-stopped
    shm_size: '1gb'

    networks:
      - waaku-network
      - dokploy-network  # IMPORTANT for Traefik routing

volumes:
  whatsapp_sessions:
  whatsapp_cache:

networks:
  waaku-network:
  dokploy-network:
    external: true
